@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #121212;
    color: white;

}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    color: white;
    font-weight: 900;
    float: left; 
    letter-spacing: 1px;
    padding: 0px 20px;

    
    
    
}

header nav {
    float: right;
    width: 50%;
    padding: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: white;
}

header nav ul li:not(.btn) a:hover{
    border-bottom: 5px solid #fff;
    transition: .3s;
}

header nav ul li.button a {
    background: #fff;
    color: #121212;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: 600;
    transition: all 500ms ease;
}

header nav ul li.button a:hover {
    background: #808080;
    color: #fff;
}

header nav ul li.btn a{
    background: #fff;
    color: #121212;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: 600;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover{
    background: #808080;
    color: #fff;
}

.container h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.container h2{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    padding: 30px;
}

.container p{
    font-size: 18px;
    line-height: 1.6;
    padding: 0 80px;
    color: #ccc;
}


  #bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* щоб відео не деформувалося */
  z-index: -1; /* відправляємо відео під контент */
}